{% extends 'base.html'%}

{% block content %}
    <div class="post-entry">
        <h2>{{ post.title }}</h2>
        <p>by {{ post.author }} | {{ post.date }}</p>
        <p>{{ post.body }}</p>

    </div>
    <a href ='{% url "post_edit" post.pk %}'>Edit</a>
    <a href ='{% url "post_delete" post.pk %}'> Delete</a>
    <!-- <a href ='{% url "comment" post.pk %}'> comments</a>
    #new
    {% if not post.comments.all %}
        no  comments yet ...<a href='#'>
    {% for comment in post.comments.all %}
            <strong>
                {{ comment.comment }}
            </strong>
                <br/>
                {{ comment.author}}
            {% endfor%}
    {% endif %} -->
    
    <p>Back to <a href="{% url 'home' %}">All Posts</a>.</p>
{% endblock %}